mixin engine()

  section.engine
    .engine__wrapper
      .container
        .engine__content
          .engine__title
            h2.title.title--black Движки с которыми мы работаем
          .engine__text
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
    .marquee
      .marquee__content
        .marquee__wrapper
          .marquee__item.marquee__fragment
            +icon("icon-wordpress-logo", 268, 116)
          .marquee__item.marquee__fragment
            +icon("icon-laravel-logo", 314, 90)
          .marquee__item.marquee__fragment
            +icon("icon-opencart-logo", 268, 131)
          .marquee__item.marquee__fragment
            +icon("icon-bitrix-logo", 232, 129)
          .marquee__item.marquee__fragment
            +icon("icon-react-logo", 304, 103)
          .marquee__item.marquee__fragment
            +icon("icon-modx-logo", 288, 76)
          .marquee__item.marquee__fragment
            +icon("icon-drupal-logo", 167, 128)
          .marquee__item.marquee__fragment
            +icon("icon-tilda-logo", 120, 120)
        .marquee__wrapper
          .marquee__item.marquee__fragment
            +icon("icon-wordpress-logo", 268, 116)
          .marquee__item.marquee__fragment
            +icon("icon-laravel-logo", 314, 90)
          .marquee__item.marquee__fragment
            +icon("icon-opencart-logo", 268, 131)
          .marquee__item.marquee__fragment
            +icon("icon-bitrix-logo", 232, 129)
          .marquee__item.marquee__fragment
            +icon("icon-react-logo", 304, 103)
          .marquee__item.marquee__fragment
            +icon("icon-modx-logo", 288, 76)
          .marquee__item.marquee__fragment
            +icon("icon-drupal-logo", 167, 128)
          .marquee__item.marquee__fragment
            +icon("icon-tilda-logo", 120, 120)


