mixin our-services()

  section.our-services
    .container
      .our-services__name
        .our-services__decor.who-we__decor--left
        h2.title.title--ld.our-services__title(data-aos="fade-down") Наши услуги
      .our-services__content
        .our-services__box(data-aos="fade-right")
          .our-services__caption
            h3.title.title--md.title--black.our-services__caption--title(data-aos="zoom-in") Разработка сайта
          .our-services__text
            p(data-aos="zoom-in") Разработка сайтов с&nbsp;нуля до&nbsp;первого места в&nbsp;топе запросов под ключ. К&nbsp;вашим услугам и&nbsp;одностраничные сайты, и&nbsp;крупные онлайн-магазины. Недорого, качественно и&nbsp;точно в&nbsp;срок.
          .our-services__cost(data-aos="zoom-in")
            p от 15.000 руб.
            +btn({href: "#", text: "Подробнее"}).btn--azure.our-services__btn
            a.our-services__link(href="")
        .our-services__box(data-aos="fade-left")
          .our-services__caption
            h3.title.title--md.title--black.our-services__caption--title(data-aos="zoom-in") Редизайн сайта
          .our-services__text(data-aos="zoom-in")
            p Полный или частичный редизайн сайта, который будет работать еще быстрееи&nbsp;приносить в&nbsp;несколько раз больше клиентов! Меняем устаревший внешний вид на&nbsp;современную концепцию.
          .our-services__cost(data-aos="zoom-in")
            p от 9.000 руб.
            +btn({href: "redesign.html", text: "Подробнее"}).btn--azure.our-services__btn
            a.our-services__link(href="")
        .our-services__box(data-aos="fade-right")
          .our-services__caption(data-aos="zoom-in")
            h3.title.title--md.title--black.our-services__caption--title Seo продвижение сайта
          .our-services__text(data-aos="zoom-in")
            p Seo-оптимизация и&nbsp;комплексное продвижение сайтов в&nbsp;Москве и&nbsp;других городах России для увеличения трафика. Поднимем ваш веб-сайт в&nbsp;топ по&nbsp;запросам в&nbsp;поисковике.
          .our-services__cost(data-aos="zoom-in")
            p от 10.000 руб.
            +btn({href: "promotion.html", text: "Подробнее"}).btn--azure.our-services__btn
            a.our-services__link(href="")
        .our-services__box(data-aos="fade-left")
          .our-services__caption(data-aos="zoom-in")
            h3.title.title--md.title--black.our-services__caption--title Контекстная реклама
          .our-services__text(data-aos="zoom-in")
            p Администрирование сайта с&nbsp;полным контролем его работы и&nbsp;правильного функционирования. Наши системные администраторы позаботятся о&nbsp;безопасности, контенте и&nbsp;техническом оснащении сайта.
          .our-services__cost(data-aos="zoom-in")
            p от 12.000 руб.
            +btn({href: "#", text: "Подробнее"}).btn--azure.our-services__btn
            a.our-services__link(href="")
        .our-services__box(data-aos="fade-left")
          .our-services__caption(data-aos="zoom-in")
            h3.title.title--md.title--black.our-services__caption--title Доработка и оптимизация сайта
          .our-services__text(data-aos="zoom-in")
            p Администрирование сайта с&nbsp;полным контролем его работы и&nbsp;правильного функционирования. Наши системные администраторы позаботятся о&nbsp;безопасности, контенте и&nbsp;техническом оснащении сайта.
          .our-services__cost(data-aos="zoom-in")
            p от 12.000 руб.
            +btn({href: "#", text: "Подробнее"}).btn--azure.our-services__btn
            a.our-services__link(href="")
        .our-services__box(data-aos="fade-left")
          .our-services__caption(data-aos="zoom-in")
            h3.title.title--md.title--black.our-services__caption--title Администрирование и обслуживание
          .our-services__text(data-aos="zoom-in")
            p Администрирование сайта с&nbsp;полным контролем его работы и&nbsp;правильного функционирования. Наши системные администраторы позаботятся о&nbsp;безопасности, контенте и&nbsp;техническом оснащении сайта.
          .our-services__cost(data-aos="zoom-in")
            p от 12.000 руб.
            +btn({href: "#", text: "Подробнее"}).btn--azure.our-services__btn
            a.our-services__link(href="")
