mixin who-we()

  section.who-we
    .who-we__wrapper
      .container
        .who-we__inner
          .who-we__image(data-aos="fade-right")
            span
              +picture("content", "who-we-img", "png", 605, 699, "Кто мы")
          .who-we__description
            .who-we__name(data-aos="fade-left")
              h2.title.title--ld.title--black.who-we__title Кто мы?
              p И почему сайты лучше заказывать у WEB-COD?
            .who-we__text(data-aos="fade-left")
              p Акцент внимания ставим на&nbsp;качество производительности, функциональности и&nbsp;современном стиле и&nbsp;дизайне. Поможем адаптировать сайт под мобильную версию. Передовые технологии и&nbsp;профессионализм команды&nbsp;&mdash; гарантия хорошей скорости загрузки, удобства для пользователя.
          .who-we__bottom(data-aos="fade-left")
              p Цель&nbsp;&mdash; преподнести продукт, повышающий прибыль бизнеса. Поэтому цена на&nbsp;создание и&nbsp;продвижение сайтов быстро окупится. Компания предоставляет финансовые и&nbsp;юридические гарантии.
