mixin slider-buttons(withProgress)
  // .slider-buttons&attributes(attributes)
    // button.btn.btn--icon-round.btn--bordered-lt.slider-buttons__btn.slider-buttons__btn--prev(type="button", aria-label="Прокрутить слайд назад")
      // +icon("icon-arrow-left", 15, 27)
    // button.btn.btn--icon-round.btn--bordered-lt.slider-buttons__btn.slider-buttons__btn--next(type="button", aria-label="Прокрутить слайд вперёд")
      // +icon("icon-arrow-right", 15, 27)
  .slider-buttons&attributes(attributes)
    button.btn.btn--icon-round.btn--bordered-lt.slider-buttons__btn.slider-buttons__btn--prev(type="button", aria-label="Прокрутить слайд назад")
      +icon("icon-arrow-left", 18, 18)
    button.btn.btn--icon-round.btn--bordered-lt.slider-buttons__btn.slider-buttons__btn--next.is-active(type="button", aria-label="Прокрутить слайд вперёд")
      if withProgress
        svg(viewBox="0 0 50 50" data-name="slider-progress")
          circle(data-name="progress" stroke="#2c39f2" stroke-width="1.5" cx="25" cy="25" r="24" fill="transparent")
      +icon("icon-arrow-right", 18, 18)
